body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 40px;
}

h2, h3, h4 {
  font-weight: 200;
  span {
    font-weight: 900;
  }
}

p {
  font-size: 15.57px;
  line-height: 28px;
}

a, input, textarea {
  font-size: 16.57px;
}

a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 0;
  display: block;
  max-width: 150px;
  text-align: center;
}

button {
  display: block;
  background-image: url(../img/menue.svg);
}

.form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input .form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px 15px;
}

.form input {
  width: 48%;
}

.form textarea {
  width: 100%;
}

.form input::-webkit-input-placeholder, .form

.grid-item-bg {
  background-image: url(../img/bg.png);
}

.grid-item-gray {
  background-color: #f3f3f3;
}

.grid-item-blue {
  background-image: url(../img/bg-blue.png);
}

.grid-item-beige {
  background-image: url(../img/bg-beige.png);
}

.grid-item-black {
  background-image: url(../img/bg-black.png);
}

.grid-item-human {
  background-image: url(../img/bg-human.png);
}

.grid-item-green {
  background-image: url(../img/bg-green.png);
}

.grid-item-bg, .grid-item-blue, .grid-item-beige,
.grid-item-black, .grid-item-human, .grid-item-green {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px 55px;
}

.grid-item-gray, .grid-item-blue, .grid-item-beige,
.grid-item-black, .grid-item-human, .grid-item-green {
  padding: 60px 55px 70px 55px;
}

.grid-item-blue, .grid-item-beige,
.grid-item-black, .grid-item-human, .grid-item-green {
  color: #fff;
}

.grid-item-blue>div {
  margin-bottom: 70px;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.list>li {
  margin-right: 10px;
}

.list>li>a {
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: block;
  border: none;
}

.list>li>a.list-fb {
  background-image: url(../img/fb.svg);
}

.list>li>a.list-dr {
  background-image: url(../img/dr.svg);
}

.list>li>a.list-tw {
  background-image: url(../img/tw.svg);
}

.logo {
  display: block;
  margin-bottom: 25px;
  width: 90px;
  height: 90px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;

}
